<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIJ-7I5xssvFR9QzmNS6_zkbmB3CgZapg</string>
	<key>GCM_SENDER_ID</key>
	<string>227305557601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wertyga.tryon</string>
	<key>PROJECT_ID</key>
	<string>tryon-286da</string>
	<key>STORAGE_BUCKET</key>
	<string>tryon-286da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227305557601:ios:6f86e4eedfc16463fca420</string>
</dict>
</plist>